[user]
	name = Zach Lefin
	email = zachlefin@gmail.com
[push]
	default = simple
[core]
	editor = nvim
	excludesfile = /home/zach/.gitignore_global
[diff]
	tool = nvim -d
[merge]
	tool = nvim -d
[pull]
	rebase = false
[init]
	defaultBranch = main
